* {
  box-sizing: border-box;
}

body {
  margin: 40px 15px 15px;
  background-color: #38404b;
  color: #94adcf;
  font-size: 18px;
  word-break: break-word;
}

h1 {
  text-align: center;
}

.input-box {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.input-task {
  width: 100%;
  padding: 3px 24px 3px 3px;
  border: none;
  border-radius: 3px;
  color: #38404b;
  background: #b7cdec;
  font-size: 18px;
  outline: none;
}

.input-task::placeholder {
  color: #38404b;
  opacity: 0.5;
}

.add-task {
  position: absolute;
  right: 0;
  padding: 2px 0;
  color: #38404b;
  cursor: pointer;
  opacity: 0.5;
}

.tasks-list {
  max-width: 600px;
  margin: 30px auto;
  padding: 0;
}

.tasks-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 15px auto;
  list-style: none;
  border: solid #94adcf 1px;
  border-radius: 10px;
}

.tasks-list__item.checked {
  border-color: rgba(148, 173, 207, 0.2);
}

.tasks-list__text.checked {
  text-decoration: line-through;
  opacity: 0.2;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 45px;
  margin-left: 20px;
}

.remove-btn {
  color: #94adcf;
  font-size: 22px;
  cursor: pointer;
  opacity: 0.5;
}

.material-icons:hover {
  opacity: 1;
}

input[type="checkbox"] {
  margin: 3px 2px 2px 2px;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 4px;
  left: 0;
  border: 2px solid #38404b;
  border-radius: 3px;
  background-color: #94adcf;
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 9px;
  border: solid #38404b;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 6px;
  left: 6px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  width: 70%;
  margin: 5% auto 15%;
}

.modal-container {
  padding: 16px;
  text-align: center;
  color: #474e5d;
  background-color: #94adcf;
  font-size: 24px;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

.modal-cancel,
.modal-delete {
  width: 50%;
  float: left;
}

.modal-cancel {
  background-color: #38404b;
}

.modal-delete {
  background-color: #f44336;
}

.modal-close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 40px;
  font-weight: bold;
  color: #94adcf;
}

.modal-close:hover,
.modal-close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
